.card {
  padding: $sp-3;
  border-radius: $br-sm;
  box-shadow: $base-box-shadow;
  border: 1px solid $primary-lightest;
  margin-bottom: $sp-6;
  background-color: $black;

  @media (max-width: $grid-breakpoints-xs) {
    padding: $sp-2;
  }
}
