.section-title {
  margin-bottom: 48px;
  text-align: center;

  h2 {
    margin-bottom: 24px;
  }

  p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $grid-breakpoints-xl) {
    margin-bottom: 50px;
  }

  @media (max-width: $grid-breakpoints-lg) {
    margin-bottom: 40px;
  }

  @media (max-width: $grid-breakpoints-xs) {
    margin-bottom: 30px;
  }
}
